body {
    background-color: honeydew;
    color:hotpink;
  }
  
  h1 {
    background-color: black;
    color: white;
  }
  
  p {
    background-color:violet;
    color: white;
    text-align: left;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    background-color: rgb(189, 157, 219);
  }

  h3 {
    text-decoration: line-through;
  }

  h4 {
    text-indent: 50px;
    text-shadow: 2px 2px black;
    font-size: 50px;
  }

  p.normal {
    font-style: normal;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
  }
  
  p.italic {
    font-style: italic;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  p.oblique {
    font-style: oblique;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
  }